* .rbc
Капибара - * HTML.
.rspec
/журнал
/ TMP
/db/*.sqlite3
/db/*.sqlite3-journal
/ Государственные / системы
/ Покрытия /
/ Спецификации / TMP
* .orig
rerun.txt
рассол-почта - * HTML.

# TODO Комментировать это правило, если вы в порядке с секретами, загружаемыми в репо
конфиг / Инициализаторы / secret_token.rb
конфиг / master.key

# Включите только если у вас есть секреты производства в этом файле, который больше не является Rails по умолчанию
# config / secrets.yml

# dotenv
# TODO Комментировать это правило, если переменные окружения могут быть зафиксированы
.env

## Нормализация окружающей среды:
/.bundle
/ Продавец / комплект

# все они должны быть проверены для нормализации среды:
# Gemfile.lock, .ruby-версия, .ruby-gemset

# если не поддерживает rvm <1.11.0 или делать что-то фантастическое, проигнорируйте это:
.rvmrc

# если использование bower-rails игнорируется по умолчанию bower_components path bower.json files
/ поставщик / активы / bower_components
* .bowerrc
bower.json

# Игнорировать настройки среды pow
.powenv

# Игнорировать файл истории команд Byebug.
.byebug_history

# Игнорировать node_modules
node_modules /
